.contato
{
    background-color: var(--branco);
    padding: 1rem;
}

.contato__titulo
{
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--azul);
}

.contato__texto
{
    font-weight: 300;
    font-size: 1rem;
    color: var(--azul);
    margin: 1rem 0;
}

.contato__email
{
    width: 90%;
    border: 2px solid var(--azul);
    border-radius: 24px;
    padding: 1rem;
    color: var(--azul);
}

.contato__email::placeholder
{
    color: var(--azul);
    font-family: var(--fonte-Poppins);
}

@media screen and (min-width: 1024px)
{
    .contato
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contato__descricao
    {
        margin: 2rem;
        width: 40%;
    }

    .contato__email
    {
        width: 40%;
    }

    .contato__titulo
    {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1728px)
{
    .contato
    {
        padding: 2rem 20vw; 
    }
}